<form
    [formGroup]="controlsSettings"
    (ngSubmit)="onSubmit()"
>
    <div class="form-group">
        <label form="animationSpeed">
            Animation speed (in milliseconds)
        </label>
        <input
            type="text"
            formControlName="animationSpeed"
        >
        <p
            *ngIf="controlsSettings.get('animationSpeed')?.invalid && controlsSettings.get('animationSpeed')?.touched"
            class="errorInfo"
        >
            {{controlsSettings.get('animationSpeed')?.errors | controlsError}}
        </p>
    </div>
    <div class="form-group">
        <label form="destinyNumber">
            Destiny number
        </label>
        <input
            type="text"
            formControlName="destinyNumber"
        >
        <p
            *ngIf="controlsSettings.get('destinyNumber')?.invalid && controlsSettings.get('destinyNumber')?.touched"
            class="errorInfo"
        >
            {{controlsSettings.get('destinyNumber')?.errors | controlsError}}
        </p>
    </div>
    <div class="form-group">
        <label form="startNumber">
            Start number
        </label>
        <input
            type="text"
            formControlName="startNumber"
        >
        <p
            *ngIf="controlsSettings.get('startNumber')?.invalid && controlsSettings.get('startNumber')?.touched"
            class="errorInfo"
        >
            {{controlsSettings.get('startNumber')?.errors | controlsError}}
        </p>
    </div>
    <button
        type="submit"
        [disabled]="controlsSettings.invalid || this.blockSubmit"
    >Start Counting</button>
</form>