<form
    [formGroup]="controlsSettings"
    (ngSubmit)="onSubmit()"
>
    <div class="form-group">
        <label form="animationSpeed">
            Animation speed (in milliseconds)
        </label>
        <input
            type="text"
            formControlName="animationSpeed"
        >
    </div>
    <div class="form-group">
        <label form="destinyNumber">
            Destiny number
        </label>
        <input
            type="text"
            formControlName="destinyNumber"
        >
    </div>
    <div class="form-group">
        <label form="startNumber">
            Start number
        </label>
        <input
            type="text"
            formControlName="startNumber"
        >
    </div>
    <button type="submit">Start Counting</button>
</form>