<form>
    <div class="form-group">
        <label form="animationSpeed">
            Animation speed (in miliseconds)
        </label>
        <input
            type="text"
            formArrayName="animationSpeed"
        >
    </div>
    <div class="form-group">
        <label form="destinyNumber">
            Destiny number
        </label>
        <input
            type="text"
            formArrayName="destinyNumber"
        >
    </div>
    <div class="form-group">
        <label form="startNumber">
            Start number
        </label>
        <input
            type="text"
            formArrayName="startNumber"
        >
    </div>
    <button type="submit">Start Countion</button>
</form>