app-gray-controls {
    width: 90%;
    padding: 20px 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

app-gray-table {
    width: 90%;
    padding: 20px 10px;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    justify-content: center;
}

.btn-instructions {
    width: 50px;
    height: 50px;
    font-size: 40px;
    background-color: var(--ocean-green);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 10px;
}

app-instruction {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 999;
    top: 0;
    left: 0;
}